<button type="button" class="close" aria-label="Close" mat-button mat-dialog-close>
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-body">
    <div class="text-center">
        <form autocomplete="off" [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
            <img src="./assets/logo.png" alt="" width="48" height="48">
            <h4 class="h3 mb-1 fw-normal">Pizzeria Don Bosco</h4>
            <small class="muted-text">Mi Perfil</small>

            <div class="form-floating">
                <input type="email" class="form-control" id="txtEmail" placeholder="Correo electronico"
                    formControlName="email" [class.is-invalid]="isInValid('email')" [class.is-valid]="isValid('email')">
                <label for="txtEmail">Correo</label>
            </div>
            <div class="form-floating mt-4">
                <input type="password" class="form-control" id="txtPass" placeholder="Contraseña"
                    formControlName="password" [class.is-invalid]="isInValid('password')"
                    [class.is-valid]="isValid('password')">
                <label for="txtPass">Contraseña</label>
            </div>
            <div class="mt-3 mb-3">
            </div>
            <button class="btn btn-primary" [disabled]="loading" type="submit"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm"></span>Guardar</button>
        </form>
    </div>
</div>