.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.close.mat-button {
    float: right;
    top: -24px;
    right: -24px;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}